* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}